.Displaying{
	position: relative;
	background-color: white;
	padding: 12% 0 10% 0;
}

.profiles{
	background-color: white;
	position: fixed;
	width: 100%;
	display: inline-flex;
	justify-content: flex-end;
	align-items: center;
	z-index: 50;
}

.profiles h1{
	width: 100%;
	text-align: center;
	margin: 4% 0 4% 17%;
}