 .form0{
 	background-color: white;
 	height: 100%;
 	width: 300px;
 	position: relative;
 	left: 50%;
 	-webkit-transform: translate(-50%);
 	   -moz-transform: translate(-50%);
 	    -ms-transform: translate(-50%);
 	     -o-transform: translate(-50%);
 	        transform: translate(-50%);
 	        display: flex;
 	        flex-direction: column;
 	        align-items: center;
 	        justify-content: center;
 	z-index: 2;
 }

.mainForm0{
	-webkit-box-shadow: 0 0 2px rgba(0,0,0,0.8);
	box-shadow: 0 0 2px rgba(0,0,0,0.8);
	height: 500px;
 	width: 400px;
 	display: flex;
 	margin: 15% 0 0 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#uName0{
	outline: none;
	border: none;
	border-bottom: 1px ridge grey;
	margin: 10px 0 10px 0;
	border
	transition: all 0.5s ease-out;
	position: absolute;
	top: 42%;
	left: 0;
}

#uName0:focus{
	border-bottom: 2px ridge #4885ed;
}

#uAge0{
	outline: none;
	border: none;
	border-bottom: 1px ridge grey;
	margin: 10px 0 10px 0;
	border
	transition: all 0.5s ease-out;
	position: absolute;
	width: 50px;
	top: 42%;
	right: 10%;
}

#uAge0:focus{
	border-bottom: 2px ridge #4885ed;
}


#uMail0{
	outline: none;
	border: none;
	border-bottom: 1px ridge grey;
	margin: 10px 0 10px 0;
	border
	transition: all 0.5s ease-out;
	position: absolute;
	top: 49%;
}

#uMail0:focus{
	border-bottom: 2px ridge #4885ed;
}

#uPass0{
	outline: none;
	border: none;
	border-bottom: 1px ridge grey;
	margin: 10px 0 20px 0;
	border
	transition: all 0.5s ease-out;
	position: absolute;
	top: 56%;

}

#uPass0:focus{
	border-bottom: 2px ridge #4885ed;
}

#uPassConfirm0{
	outline: none;
	border: none;
	border-bottom: 1px ridge grey;
	margin: 10px 0 20px 0;
	border
	transition: all 0.5s ease-out;
	position: absolute;
	top: 63%;

}

#uPassConfirm0:focus{
	border-bottom: 2px ridge #4885ed;
}

#uSubmit0{
	background-color: #4285f4;
	line-height: 20px;
	color: white;
	cursor: pointer;
	font-size: 18px;
	font-weight: 500;
	text-align: center;
	padding: 5px 10px;
	position: absolute;
	top: 74%;

}

.cmpName2{
	font-weight: 900;
	position: absolute;
	top: 15%;
}


#signupTxt1{
	font-size: 1.5em;
	font-weight: 750;
	position: absolute;
	top: 30%;
}

#signupTxt2{
	font-weight: 500;
	position: absolute;
	top: 33%;
}

form h1 {
  color: rgba(0,0,0,1);
  font-family: 'Expletus Sans', cursive, monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid transparent; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end 8;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

#or0{
	position: absolute;
	top: 84%;
	font-size: 1.5em;
}

#loginTxt{
	position: absolute;
	top: 92%;
	font-size: 1.2em;
	color: #4285f4;
}

#loginTxt:hover{
	cursor: pointer;
}